
name: Deploy Supabase Functions

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'supabase/functions/**'
  workflow_dispatch: # Questo abilita il pulsante manuale

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Deploy Function
        run: supabase functions deploy send-email --project-ref ${{ secrets.SUPABASE_PROJECT_ID }} --no-verify-jwt
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
